<!-- Create your form here -->
<%= form_tag coupons_path do %>
  <label>coupon</label><br>
  <%= text_field_tag :coupon %><br>

  <label>coupon code</label><br>
  <%= text_area_tag :coupon_code %><br>

  <label>Store</label><br>
  <%= text_area_tag :store %><br>

  <%= submit_tag "Submit coupon" %>
<% end %>